<p>llista-correus works!</p>

<!--<table>
  <tr>
  <th>Emissor</th>
  <th>Titol</th>
  </tr>
  <tr>
    <td>{{correus[0].emissor}}</td>
    <td>{{correus[0].titol}}</td>
  </tr>
  <tr>
    <td>{{correus[1].emissor}}</td>
    <td>{{correus[1].titol}}</td>
  </tr>
</table>-->
<p> ----------------------------------------------- </p>
<!--<table>
  <tr>
    <th>Emissor</th>
    <th>Titol</th>
  </tr>
  <tr *ngFor="let correu of correus">
    <td *ngIf="correu.llegit == true" style="display: none">{{correus[0].emissor}}</td>
    <td *ngIf="correu.llegit == false">{{correus[0].emissor}}</td>

    &lt;!&ndash;<td *ngIf="correu.llegit == true" style="color: yellow">{{correus[0].titol}}</td>&ndash;&gt;
    <td *ngIf="correu.llegit == true" style="display: none">{{correus[0].titol}}</td>
    <td *ngIf="correu.llegit == false">{{correus[0].titol}}</td>
  </tr>
</table>

<p> correus llegits &ndash;&gt; {{this.contadorLlegits}}</p>
<p> correus no llegits &ndash;&gt; {{this.contadorNoLlegits}}</p>-->







<p>Botó que suma cada cop que cliques -_- </p>

<button (click)="sumatori()" >Click me</button><br>
{{this.contador}}
